<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>M13ProgressSuite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA2FAF971889907300BCAEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2FAFBB1889907300BCAEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2FB03F1889984A00BCAEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2FB0431889986D00BCAEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
